<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_home.css" rel="stylesheet">
    <title>.:Todos los productos:.</title>
</head>

<body>
    <!-- Seccion de la cabecera-->
    <%- include('../partials/header') %>

    <!-- Seccion del cuerpo-->
    <main>
        <% if(locals.rootUser) { %> 
            <a href="/products/create">
                <div class="AddProducts">
                    <h4>Añadir Productos</h4>
                    <i class="circle fa-solid fa-circle-plus"></i>
                </div>
            </a>
        <% } %> 
        
        <div class="related">
            <%- include('../partials/productBox') %>
        </div>
    </main>

    <!-- Seccion del pie de pagina-->
    <%- include('../partials/footer') %>

</body>
</html>