<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_home.css" rel="stylesheet">
    <title>.:Camping:.</title>
</head>

<body>
    <!-- Seccion de la cabecera-->
    <%- include('../partials/header') %>

    <!-- Seccion del cuerpo-->
    <main>
        <div class="related">
            <h2 class="titleSub">Productos de Camping</h2>

            <%- include('../partials/productBox') %>
        </div>
    </main>

    </main>

    <!-- Seccion del pie de pagina-->
    <%- include('../partials/footer') %>

</body>

</html>