<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_home.css" rel="stylesheet">    
    <title>.:Promociones:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="related">
        <h2 class="titleSub">Promociones</h2>
        <%- include('../partials/productBox') %>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>