<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_productCreate.css" rel="stylesheet">
    <title>Creación de producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="form-creation">
            <form class="formularios" action="./" method="get">
                <h1>Agregar Producto</h1>
                <div>
                    <label class="titulos-formulario">Categoría: </label>
                    <label class="formulario-creation"><input type="radio" name="category" value="Pesca" > Pesca </label>
                    <label class="formulario-creation"><input type="radio" name="category" value="Camping" > Camping </label>
                </div>
                <div>
                    <label class="titulos-formulario">Titulo del Producto: </label>
                    <input type="text" name="titulo" placeholder="Ej. Carrete Okuma Alaris" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Precio: </label>
                    <input type="number" name="precio" placeholder="Ej. 100.000" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Breve descripción del producto: </label>
                    <textarea name="des1" class="formulario-creation" placeholder="Máximo 250 caracteres" maxlength="250"></textarea>
                </div>
                <div>
                    <label class="titulos-formulario">Descripción detallada del producto: </label>
                    <textarea name="des2" class="formulario-creation" placeholder="Máximo 1000 caracteres" maxlength="1000"></textarea>
                </div>
                <div>
                    <label class="titulos-formulario">Imágenes del Producto: </label>
                    <input type="file" name="foto" class="formulario-creation" multiple>
                </div>
                <div>
                    <label class="titulos-formulario">Link video descriptivo: </label>
                    <input type="url" name="url" placeholder="Ej. https://www.youtube.com/embed/QeRVtNfF864" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Cantidad disponible: </label>
                    <input type="number" name="cantidad" placeholder="Ej. 10" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Colores Disponibles: </label>
                    <input type="color" name="color1" class="formulario-colores">
                    <input type="color" name="color2" class="formulario-colores">
                    <input type="color" name="color3" class="formulario-colores">
                    <input type="color" name="color4" class="formulario-colores">
                </div>
                <div>
                    <label class="titulos-formulario">Tamaño 1: </label>
                    <input type="text" name="size" placeholder="Ej. 3000" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Tamaño 2: </label>
                    <input type="text" name="size" placeholder="Ej. 198cm" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Tamaño 3: </label>
                    <input type="text" name="size" placeholder="Ej. 1/0" class="formulario-creation">
                </div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>