<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_productCreate.css" rel="stylesheet">
    <title>.:Crear producto:.</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="form-creation">
            <form class="formularios" action="/products" method="POST" enctype="multipart/form-data">
                <h1>Agregar Producto</h1>
                <div>
                    <label class="titulos-formulario">Categoría: </label>
                    <label class="formulario-creation"><input type="radio" name="category" value="Pesca" > Pesca </label>
                    <label class="formulario-creation"><input type="radio" name="category" value="Camping" > Camping </label>
                </div>
                <div>
                    <label class="titulos-formulario">Titulo del Producto: </label>
                    <input type="text" name="title" placeholder="Ej. Carrete Okuma Alaris" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Precio: </label>
                    <input type="number" name="price" placeholder="Ej. 100.000" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Breve descripción del producto: </label>
                    <textarea name="smallDescription" class="formulario-creation" placeholder="Máximo 250 caracteres" maxlength="250"></textarea>
                </div>
                <div>
                    <label class="titulos-formulario">Descripción detallada del producto: </label>
                    <textarea name="detailedDescription" class="formulario-creation" placeholder="Máximo 1000 caracteres" maxlength="1000"></textarea>
                </div>
                <div>
                    <label class="titulos-formulario">Imágenes del Producto: </label>
                    <input type="file" name="images" class="formulario-creation" multiple>
                </div>
                <div>
                    <label class="titulos-formulario">Link video descriptivo: </label>
                    <input type="url" name="url" placeholder="Ej. https://www.youtube.com/embed/QeRVtNfF864" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Cantidad disponible: </label>
                    <input type="number" name="units" placeholder="Ej. 10" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Colores Disponibles: </label>
                    <input type="text" name="colors" placeholder="Ej. rojo, verde, azul" class="formulario-creation" minlength="4">
                </div>
                <div>
                    <label class="titulos-formulario">Tamaños Disponibles: </label>
                    <input type="text" name="size" placeholder="Ej. 1000, 150cm, 15gr, único" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Clasificación: </label>
                    <input type="text" name="classification" placeholder="Ej. Agua salada" class="formulario-creation">
                </div>
                <div>
                    <label class="titulos-formulario">Referencia: </label>
                    <input type="text" name="reference" placeholder="Ej. Ean13 4718947023353" class="formulario-creation">
                </div>
                <button type="submit">Guardar</button>
                <button type="reset">Borrar</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>