<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_productCart.css" rel="stylesheet">
    <title>.:Carrito de Compras:.</title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="bloque-1">
            <div class="parte-3">
                <div>
                    <p><i class="fas fa-map-marker-alt"></i>Enviar a ciudad</p>
                </div>
                <h2>Tu carrito tiene los siguientes artículos:</h2>
            </div>
            
            <div class="parte-4">
                <h2>Subtotal COP</h2>
                <h4>Tu pedido califica para envío GRATIS.</h4>
                <label><input type="checkbox" name="Regalo">Envía como regalo.</label> 
                <a href="#"><button>Proceder con el pago</button></a>                       
            </div>
        </div>


   <form class="parte-5" action="#" method="POST">    
    <a href="/productDetail/1"> 
        <article>
            <input type="checkbox" name="articulo">            
                <img class="Productos" src="/img/carrete-okuma-alaris.jpg" alt="Carrete Okuma Alaris"> 
                    <div class="descproduct">
                        <h4 class="producto">Okuma Alaris</h4>
                        <p class="precio">$150.000</p>
                        <p class="detalles-producto">Con un marco resistente a la corrosión, placas laterales y un diseño de rotor de flujo ciclónico, así como una bobina de aluminio mecanizado en dos tonos y un mango de metal rígido para mayor resistencia y durabilidad.</p>
                        <div>
                            <form class="caracteristicas" action="#" method="get">
                                <label for="cantidad">Cantidad</label>
                                <select name="quantity" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
            
                                <label for="color">Color</label>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
            
                                <label for="tamaño">Tamaño</label>
                                <select name="size" id="tamaño">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>
                            </form>
                        </div>
                        <p class="detalles">Drag: 15 lb. Peso: 237 gr. Relación: 5.0.1.</p>
                    </div>
                <button type="submit">Guardar para mas tarde</button>
        </article>
    </a>

         <article>
            <input type="checkbox" name="articulo">
                <img class="Productos" src="/img/cana-okuma-competition-casting.jpg " alt="Caña Okuma Competition">
                    <div class="descproduct">
                        <h4 class="producto">Okuma Competition Casting</h4>
                        <p class="precio">$128.700</p>
                        <p class="detalles-producto">Guías con marcos de acero inoxidable e inserciones de óxido de titanio, cuenta con porta carrete con cobertura de acero inoxidable y logotipo de Okuma.</p>
                        <div>
                            <form class="caracteristicas" action="#" method="get">
                                <label for="cantidad">Cantidad</label>
                                <select name="quantity" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
            
                                <label for="color">Color</label>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
            
                                <label for="tamaño">Tamaño</label>
                                <select name="size" id="tamaño">
                                    <option value="198cm">198cm</option>
                                    <option value="183cm">183cm</option>
                                    <option value="165cm">165cm</option>
                                </select>
                            </form>
                        </div>
                        <p class="detalles">Acción: Medium-Light. Piezas: 2. Línea: 6 - 12 lb.</p>
                    </div>
                <button type="submit">Guardar para mas tarde</button>
         </article>

         <article>
            <input type="checkbox" name="articulo">
                <img class="Productos" src="/img/mochila-camuflada-ridge-hunter-20-hunting-pack.jpg" alt="Mochila ridge hunter">
                    <div class="descproduct">
                        <h4 class="producto">Mochila Ridge Hunter 2.0</h4>
                        <p class="precio">$98.000</p>
                        <p class="detalles-producto">Perfecto para caminatas, cuenta con una fácil organización para todo tu equipo. Un compartimento principal grande con cremalleras dobles que ofrece una entrada sencilla para que pueda encontrar lo que necesita.</p>
                        <div>
                            <form class="caracteristicas" action="#" method="get">
                                <label for="cantidad">Cantidad</label>
                                <select name="quantity" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
            
                                <label for="color">Color</label>
                                <select name="color" id="color">
                                    <option value="#000000">Negro</option>
                                    <option value="#008000">Camuflado</option>
                                    <option value="#A46400">Cafe</option>
                                </select>
                            </form>
                        </div>
                        <p class="detalles">Medidas 41.91 cm, 35.56 cm 22.86 cm.</p>
                    </div>
                <button type="submit">Guardar para mas tarde</button>
        </article>
    </form>

        <div class="parte-6">
            <a href="#"><button>Ver productos guardados</button></a>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>