<a class="Go-home" href="/">Ir al Inicio</a>

    <footer class="pie-de-pagina">
        <div class="parte-7">
            <div class="links">
                <h3>Información</h3>
                <ul>
                    <li><a href="/conditions">Condiciones de venta</a></li>
                    <li><a href="/privacy">Política de privacidad</a></li>
                    <li><a href="/warranty">Política de devolución y garantía</a></li>
                    <li><a href="/payment">Pago en línea</a></li>
                    <li><a href="/contacts">Contáctenos</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Enlaces de interés</h3>
                <ul>
                    <li><a href="https://pescandoconvalpez.blogspot.com/">Blog</a></li>
                    <li><a href="/whereToFish">Donde Pescar</a></li>
                    <li><a href="/whereToCamping">Donde Acampar</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Cuenta</h3>
                <ul>
                    <li><a href="/users/profile">Detalles de la cuenta</a></li>
                    <li><a href="/products/cart">Carrito de compras</a></li>
                    <li><a href="#">Pedidos</a></li>
                </ul>
            </div>
            <div class="contacto">
                <img class="Logo-inferior" src="/img/logo 2.0.png" alt="Logo">
                <p><i class="fas fa-map-marker-alt"></i> Carrera 52 # 100C – 08, Medellín, Colombia</p>
                <p><i class="fas fa-phone-alt"></i> +57 311 380 09 48</p>
                <p><i class="fas fa-envelope"></i> tiendavalpez@gmail.com</p>
            </div>
        </div>
        <div class="logos-container">
            <div class="redesSociales">
                <a href="https://www.facebook.com/Tienda-Valpez-102565678624446"><i class="fa-brands fa-facebook social-icon"></i></a>
                <a href="https://www.instagram.com/tiendavalpez/"><i class="fa-brands fa-instagram social-icon"></i></a>
                <a href="http://wa.me/573113800948"><i class="fa-brands fa-whatsapp social-icon"></i></a>
                <a href="https://www.youtube.com/channel/UCkmDYo44Rp2SrltKYJ4sQbA/featured"><i class="fa-brands fa-youtube social-icon"></i></a>
            </div>
            <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio Ecommerce implementado por Valpez</p>
        </div>

    </footer>