<a class="Go-home" href="/home">Ir al Inicio</a>

    <footer class="pie-de-pagina">
        <div class="parte-7">
            <div class="links">
                <h3>Información</h3>
                <ul>
                    <li><a href="#">Condiciones de venta</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de devolución y garantía</a></li>
                    <li><a href="#">Pago en línea</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Enlaces de interés</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pesca deportiva y artesanal</a></li>
                    <li><a href="#">Camping</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Cuenta</h3>
                <ul>
                    <li><a href="#">Detalles de la cuenta</a></li>
                    <li><a href="#">Carrito de compras</a></li>
                    <li><a href="#">Pedidos</a></li>
                </ul>
            </div>
            <div class="contacto">
                <img class="Logo-inferior" src="/img/logo 2.0.png" alt="Logo">
                <p><i class="fas fa-map-marker-alt"></i> Calle falsa No. 123 - 45, Medellín, Colombia</p>
                <p><i class="fas fa-phone-alt"></i> 57-4-5556677</p>
                <p><i class="fas fa-envelope"></i> info@valpez.com</p>
            </div>
        </div>
        <div class="logos-container">
            <div class="redesSociales">
                <a><i class="fa-brands fa-facebook social-icon"></i></a>
                <a><i class="fa-brands fa-instagram social-icon"></i></a>
                <a><i class="fa-brands fa-twitter social-icon"></i></a>
                <a><i class="fa-brands fa-youtube social-icon"></i></a>
            </div>
            <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio Ecommerce implementado por Valpez</p>
        </div>

    </footer>