<header>
    <p class="infoPromo">Envío gratis desde $150.000 - Aplica términos y condiciones.</p>
    <div class="header1">
        <a class="burguer-menu" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        <a href="/"><img class="logo1" src="/img/logo 2.0.png" alt="logo"></a>
        <div class="actions">
            <form class="search" action="#" method="get">
                <input type="search" name="searchBar" placeholder="Buscar artículos">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
                <% if(locals.isLogged) { %> 
                    <a class="login" href="/users/profile">Perfil</a>
                    <a class="login" href="/users/logout">Logout</a>
                <% } else {%> 
                    <a class="login" href="/users/login">Iniciar sesión</a>
                <% } %> 
                <a class="cart" href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <nav class="header2">
        <ul>
            <li><a href="https://pescandoconvalpez.blogspot.com/">Blog</a></li>
            <li><a href="/adventures">Aventuras</a></li>
            <li><a href="/aboutUs">Quienes somos</a></li>
            <li><a href="/products">Artículos</a></li>
            <li><a href="/products/offers">Promociones</a></li>
        </ul>
    </nav>
    
</header>