<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto&display=swap"
</head>
<body>
    <!-- Seccion de la cabecera-->
    <header>
        <div class="header-msn">
            <p>ENVÌO GRATIS DESDE $150.000 - SE EXCLUYE DESTINOS ESPECIALES. NO APLICA A CLIENTES AL POR MAYOR</p>
        </div>
        <nav>
            <div class="header-comunicaciones-ventas">
                <div class="redes-sociales">
                    <p>redes sociales</p>
                </div>
                <div class="header-logo">
                    <p>logos de la empresa</p>
                </div>
                <div class="lista">
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Foro</a></li>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Articulos</a></li>
                        <li><a href="#">Promociones</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>
    </header>

    <!-- Seccion del cuerpo-->
    <section>
        <!-- carrucel -->
        <article>
            <img src="/img/img-carrusel-1.jpg" alt="img-carrusel-1" width="360">
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
        <article>
            <!-- imagen 2 -->
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
        <article>
            <!-- imagen 3 -->
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
    </section>

    <!-- categorias -->
    <section>
        <div class="category-pesca">
            <i class="fa fa-fish fa-4x"></i>
        </div>
        <div class="category-gorras">
            <i class="fas fa-hat-cowboy fa-4x"></i>
        </div>
        <div class="category-cross">
            <i class="fas fa-shoe-prints fa-4x"></i>
        </div>
    </section>

    <!-- productos destacados -->
    <section>
        <div class="destacados">
            <p>PRODUCTOS DESTACADOS</p>
        </div>
        <div class="productos-destacados"></div>
    </section>

    <!-- productos nuevos -->
    <section>
        <div class="nuevos">
            <P>PRODUCTOS NUEVOS</P>
        </div>
        <div class="productos-nuevos"></div>
    </section>

    <!-- promociones cuerpo -->
    <section>
        <div>
            <div>
                <img src="/img/img-seccion1.jpg" alt="">
            </div>
            <div>
                <p>Nuestro Blog</p>
            </div>
            <div>
                <div>
                    imagen 1
                </div>
                <div>
                    imagen 2
                </div>
            </div>
            
            <!-- imagen 2 -->
            <!-- aprendamos de pesca h2 -->
            <!-- trucos p -->
            <!-- boton -->
            <!-- imagen 3 -->
            <!-- conoce productos p -->
            <!-- boton -->
            <!-- imagen 4 -->
            <!-- tienda fisica p -->
            <!-- imagen 5 -->
        </div>
    </section>

    <!-- Seccion del pie de pagina-->
    <footer>
        <div><!-- Logo  --></div>
        <section>
            <!-- descripcion h2 -->
            <!-- lista de enlaces ul-li -->
        </section>
        <div>
            <!-- mensaje -->
        </div>

</footer>

</body>
</html>