<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto&display=swap"
</head>
<body>
    <!-- Seccion de la cabecera-->
    <header>
        <div class="header-msn">
            <p>ENVÌO GRATIS DESDE $150.000 - SE EXCLUYE DESTINOS ESPECIALES. NO APLICA A CLIENTES AL POR MAYOR</p>
        </div>

        <section>
            <div class="header-comunicaciones-ventas">
                <div class="redes-sociales">
                    <img src="/img/icon-facebook.svg" alt="">
                    <img src="/img/icon-instagram.svg" alt="">
                    <img src="/img/icon-twitter.svg" alt="">
                    <img src="/img/icon-youtube.svg" alt="">
                    <p>
                        Iniciar sesión
                    </p>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-shopping-cart" ></i>
                </div>
            </div>
        </section>

        <nav>
           
            <div class="header-logo">
                <p>logos de la empresa</p>
            </div>
            <div class="lista">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Foro</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Articulos</a></li>
                    <li><a href="#">Promociones</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Seccion del cuerpo-->
    <section>
        <!-- carrucel -->
        <article>
            <img src="/img/img-carrusel-1.jpg" alt="img-carrusel-1" width="360">
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
        <article>
            <!-- imagen 2 -->
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
        <article>
            <!-- imagen 3 -->
            <!-- titulo h3-->
            <!-- Subtitulo p-->
        </article>
    </section>

    <!-- categorias -->
    <section class="category">
        <div class="category-pesca">
            <i class="fa fa-fish fa-4x"></i>
        </div>
        <div class="category-gorras">
            <i class="fas fa-hat-cowboy fa-4x"></i>
        </div>
        <div class="category-cross">
            <i class="fas fa-shoe-prints fa-4x"></i>
        </div>
    </section>

    <!-- productos destacados -->
    <main>
        <h3 class="destacados">
            <p>PRODUCTOS DESTACADOS</p>
        </h3>
        <div class="productos-destacados">
            <div>
                <img src="/img/carretel-shimano-sienna-fg-4-balineras_1.jpg" alt="">
            </div>
            <div class="productos-descripciones">
                <p>Carretel Shimano Sienna FG 4 Balineras</p>
                <p>$198.000</p>
                <select name="descripcion" id="descripcion">
                    <option value=""></option>
                    <option value="">1000</option>
                    <option value="">2000</option>
                    <option value="">2500</option>
                    <option value="">3000</option>
                    <option value="">4000</option>
                </select>
                <div class="productos-añadir">
                    <input type="text" name="cantidad" value="1" id="cantidad" >
                    <input type="submit" value="Añadir al carrito" id="carrito">
                </div>
            </div>
        </div>
    

    <!-- productos nuevos -->
    
        <h3 class="nuevos">
            <P>PRODUCTOS NUEVOS</P>
        </h3>
        <div class="productos-nuevos">
            ///
        </div>
    </main>

    <!-- promociones cuerpo -->
    <section>
        <div>
            <div>
                <img src="/img/img-seccion1.jpg" alt="">
            </div>
            <div>
                <p>Nuestro Blog</p>
            </div>
            <div>
                <div>
                    imagen 1
                </div>
                <div>
                    imagen 2
                </div>
            </div>
            
            <!-- imagen 2 -->
            <!-- aprendamos de pesca h2 -->
            <!-- trucos p -->
            <!-- boton -->
            <!-- imagen 3 -->
            <!-- conoce productos p -->
            <!-- boton -->
            <!-- imagen 4 -->
            <!-- tienda fisica p -->
            <!-- imagen 5 -->
        </div>
    </section>

    <!-- Seccion del pie de pagina-->
    <footer>
        <div><!-- Logo  --></div>
        <section>
            <!-- descripcion h2 -->
            <!-- lista de enlaces ul-li -->
        </section>
        <div>
            <!-- mensaje -->
        </div>

</footer>

</body>
</html>