<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles_home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <!-- Seccion de la cabecera-->
    <header>
        <p class="infoPromo">Envío gratis desde $150.000 - Aplica términos y condiciones.</p>
        <div class="header1">
            <a class="burguer-menu" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            <a href="/home"><img class="logo1" src="/img/logo 2.0.png" alt="logo"></a>
            <div class="actions">
                <form class="search" action="#" method="get">
                    <input type="search" name="searchBar" placeholder="Buscar artículos">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <a class="login" href="/login">Iniciar sesión</a>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <nav class="header2">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Foro</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Artículos</a></li>
                <li><a href="#">Promociones</a></li>
            </ul>
        </nav>
        
    </header>

    <!-- Seccion del cuerpo-->
    <main>
        <div class="carrusel">
            <div class="slide1"><img src="/img/Slide1.jpg" alt="señuelos"></div>
            <div class="slide2"><img src="/img/Slide2.jpg" alt="pescando"></div>
            <div class="slide3"><img src="/img/Slide3.jpg" alt="carpas"></div>
        </div>
        <div class="categories">
            <div class="categories-img">
                <img src="/img/Category-camping.jpg" alt="camping">
                <img src="/img/Category-fishing.jpg" alt="fishing">
            </div>
            <div class="categories-letra">
                <h3>Camping</h3>
                <h3>Pesca </h3>
            </div> 
        </div>
        

        <!-- productos destacados -->
        <div class="related">
            <h2>Productos Destacados</h2>

            <div class="relatedProducts">
                <i class="fa-solid fa-angle-left"></i>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/carrete-okuma-alaris.jpg" alt="producto1">
                        <h3>Carrete Okuma Alaris</h3>
                        <p>$ 150.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/berkley-choppo-saltwater_2.jpg" alt="producto2">
                        <h3>Berkley Choppo Saltwater</h3>
                        <p>$ 50.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/cana-shakespeare-ugly-stik-gx2-spinning-1.jpg" alt="producto3">
                        <h3>Caña Shakespeare Ugly Stik</h3>
                        <p>$ 180.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/carrete-penn-slammer-iv-spinning-81-balineras_2.jpg" alt="producto4">
                        <h3>Carretel Penn Slammer</h3>
                        <p>$ 160.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <!-- productos nuevos -->
        <div class="related">
            <h2>Nuevos Productos</h2>

            <div class="relatedProducts">
                <i class="fa-solid fa-angle-left"></i>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/senuelo-berkley-powerbait-glitter-trout-bait_1.jpg" alt="producto5">
                        <h3>Señuelo Berkley Powerbait</h3>
                        <p>$ 29.100</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/carretel-shimano-sienna-fg-4-balineras_1.jpg" alt="producto6">
                        <h3>Carretel Shimano Sienna</h3>
                        <p>$ 198.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/nomad-madscad-sinking_1.jpg" alt="producto7">
                        <h3>Nomad Madscad Sinking</h3>
                        <p>$ 85.500</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail">
                    <article class="product">
                        <img src="/img/mochila-camuflada-ridge-hunter-20-hunting-pack.jpg" alt="producto8">
                        <h3>Mochila Ridge Hunter 2.0</h3>
                        <p>$ 98.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="consejo">
            <h2>Nuestro Blog</h2>
            <img src="/img/tackle-box-gf4ad29459_1280.jpg" alt="box">
            <div>
                <p>Conoce trucos, técnicas y consejos</p>
                <button type="submit">Aprende mas</button> 
            </div>
        </div>
        
    </main>

    <!-- Seccion del pie de pagina-->
    <a class="Go-home" href="/home">Ir al Inicio</a>
    <footer>
        <div class="parte-7">
            <div class="links">
                <h3>Información</h3>
                <ul>
                    <li><a href="#">Condiciones de venta</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de devolución y garantía</a></li>
                    <li><a href="#">Pago en línea</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Enlaces de interés</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pesca deportiva y artesanal</a></li>
                    <li><a href="#">Camping</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Cuenta</h3>
                <ul>
                    <li><a href="#">Detalles de la cuenta</a></li>
                    <li><a href="#">Carrito de compras</a></li>
                    <li><a href="#">Pedidos</a></li>
                </ul>
            </div>
            <div class="contacto">
                <img class="Logo-inferior" src="/img/logo 2.0.png" alt="Logo">
                <p><i class="fas fa-map-marker-alt"></i> Calle falsa No. 123 - 45, Medellín, Colombia</p>
                <p><i class="fas fa-phone-alt"></i> 57-4-5556677</p>
                <p><i class="fas fa-envelope"></i> info@valpez.com</p>
            </div>
        </div>
        <div class="logos-container">
            <div class="redesSociales">
                <a><i class="fa-brands fa-facebook social-icon"></i></a>
                <a><i class="fa-brands fa-instagram social-icon"></i></a>
                <a><i class="fa-brands fa-twitter social-icon"></i></a>
                <a><i class="fa-brands fa-youtube social-icon"></i></a>
            </div>
            <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio Ecommerce implementado por Valpez</p>
        </div>

    </footer>

</body>

</html>