<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles_login.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
    
<body>
    <header>
        <p class="infoPromo">Envío gratis desde $150.000 - Aplica términos y condiciones.</p>
        <div class="header1">
            <a href="/home"><img class="logo1" src="/img/logo 2.0.png" alt="logo"></a>
            <div class="actions">
                <form class="search" action="#" method="get">
                    <input type="search" name="searchBar" placeholder="Buscar artículos">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <a class="login" href="/login">Iniciar sesión</a>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <nav class="header2">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Foro</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Artículos</a></li>
                <li><a href="#">Pomociones</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="form-login">
            <h2>Login</h2>
            <form action="#" method="get">
                <div>
                    <input type="text" name="registered-user" placeholder="Nombre de usuario" class="form-element">
                </div>
                <div>
                    <input type="password" name="registered-password" placeholder="Contraseña" class="form-element">
                </div>
                <button class="bLogin" type="submit">Enviar</button>

            </form> 
        </div>
    </main>

    <a class="Go-home" href="/home">Ir al Inicio</a>

    <footer>
        <div class="parte-7">
            <div class="links">
                <h3>Información</h3>
                <ul>
                    <li><a href="#">Condiciones de venta</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de devolución y garantía</a></li>
                    <li><a href="#">Pago en línea</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Enlaces de interés</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pesca deportiva y artesanal</a></li>
                    <li><a href="#">Camping</a></li>
                </ul>
            </div>
            <div class="links">
                <h3>Cuenta</h3>
                <ul>
                    <li><a href="#">Detalles de la cuenta</a></li>
                    <li><a href="/productCart">Carrito de compras</a></li>
                    <li><a href="#">Pedidos</a></li>
                </ul>
            </div>
            <div class="contacto">
                <img class="Logo-inferior" src="/img/logo 2.0.png" alt="Logo">
                <p><i class="fas fa-map-marker-alt"></i> Calle falsa No. 123 - 45, Medellín, Colombia</p>
                <p><i class="fas fa-phone-alt"></i> 57-4-5556677</p>
                <p><i class="fas fa-envelope"></i> info@valpez.com</p>
            </div>
        </div>
        <div class="logos-container">
            <div class="redesSociales">
                <a href="#"><i class="fa-brands fa-facebook social-icon"></i></a>
                <a href="#"><i class="fa-brands fa-instagram social-icon"></i></a>
                <a href="#"><i class="fa-brands fa-twitter social-icon"></i></a>
                <a href="#"><i class="fa-brands fa-youtube social-icon"></i></a>
            </div>
            <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio Ecommerce implementado por Valpez</p>
        </div>
    </footer>

    
</body>
</html>