<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles_productDetail.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <p class="infoPromo">Envío gratis desde $150.000 - Aplica términos y condiciones.</p>
        <div class="header1">
            <a href="/home"><img class="logo1" src="/img/logo 2.0.png" alt="logo"></a>
            <div class="redesSociales">
                <img src="/img/icon-facebook.svg" alt="">
                <img src="/img/icon-instagram.svg" alt="">
                <img src="/img/icon-twitter.svg" alt="">
                <img src="/img/icon-youtube.svg" alt="">
            </div>
            <div class="actions">
                <form class="search" action="#" method="get">
                    <input type="search" name="searchBar" placeholder="Buscar artículos">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <a class="login" href="/login">Iniciar sesión</a>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <nav class="header2">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Foro</a></li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Artículos</a></li>
                <li><a href="#">Pomociones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="route">
            <ul>
                <li><a href="/home">Inicio /</a></li>
                <li><a href="#">Pesca /</a></li>
                <li><a href="#">Carretes /</a></li>
                <li><a href="#">Carrete Okuma</a></li>
            </ul>
        </nav>
        <div class="productSelected">
            <div class="preview">
                <i class="fa-solid fa-angle-up"></i>
                <img src="/img/carrete-okuma-alaris-preview1.jpg" alt="preview1">
                <img src="/img/carrete-okuma-alaris-preview2.jpg" alt="preview2">
                <img src="/img/carrete-okuma-alaris-preview3.jpg" alt="preview3">
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <img class="photo" src="/img/carrete-okuma-alaris.jpg" alt="photo">
            <div class="details">
                <h1>Carrete Okuma</h1>
                <h2>$ 150.000</h2>
                <p>Con un marco resistente a la corrosión, placas laterales y un diseño de rotor de flujo ciclónico, así como una bobina de aluminio mecanizado en dos tonos y un mango de metal rígido para mayor resistencia y durabilidad.</p>
                <a href="#">Ver más detalles</a>
                <p>Disponible</p>
                <form class="selection" action="#" method="get">
                    <label for="quantity">Cantidad</label>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <label for="color">Color</label>
                    <select name="color" id="color">
                        <option value="#FF0000">Rojo</option>
                        <option value="#008000">Verde</option>
                        <option value="#0000FF">Azul</option>
                    </select>

                    <label for="size">Tamaño</label>
                    <select name="size" id="size">
                        <option value="3000">3000</option>
                        <option value="4000">4000</option>
                        <option value="4500">4500</option>
                        <option value="5500">5500</option>
                        <option value="6500">6500</option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-cart-plus"></i> Añadir al carrito</button>
                </form>
            </div>
        </div>
        <div class="moreDetails">
            <article class="description">
                <h2>Descripción</h2>
                <p>El Alaris funciona sin problemas en la salida de la línea y la recuperación. Gran carrete para agua dulce y acción costera ligera.</p>
                <ul>
                    <li>Sistema de frenos multidisco, lubricado con aceite japonés. o 3BB + 1 RB Balineras.</li>
                    <li>Rodamientos con sistema Quick-set para anti-reverse continuo.</li>
                    <li>Piñón principal de bronce mecanizado. Cuerpo y rotor de grafito resistente a la corrosión.</li>
                    <li>CFR: Tecnología Cyclonic Flow Rotor.</li>
                    <li>Diseño de manivela de metal rígido para mayor resistencia.</li>
                    <li>Carrete de aluminio mecanizado anodizado en 2 tonos con borde LCS.</li>
                    <li>Rodillos de acero inoxidables anti corrosión.</li>
                    <li>RESII: Rotor balanceado por computadora.</li>
                </ul>
                <iframe width="420" height="250" src="https://www.youtube.com/embed/QeRVtNfF864" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            <article class="factSheet">
                <h2>Ficha Técnica</h2>
                <div class="features">
                    <span>Clasificación</span>
                    <span>Agua salada</span>
                    <span>Balineras</span>
                    <span>4</span>
                    <span>Referencia</span>
                    <span>Ean13 4718947023353</span>
                </div>
            </article>
        </div>
        <div class="related">
            <h2>Productos Relacionados</h2>
            <div class="relatedProducts">
                <i class="fa-solid fa-angle-left"></i>
                <article class="product">
                    <img src="/img/carrete-spinning-daiwa-sweepfire.jpg" alt="producto1">
                    <h3>Carrete Daiwa Sweepfire</h3>
                    <p>$ 110.000</p>
                    <form class="selection1" action="#" method="get">
                        <input type="radio" name="color" value="#FFFF00">
                        <input type="radio" name="color" value="#800080">
                        <input type="radio" name="color" value="#0000FF">

                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <select name="size" id="size">
                            <option value="3000">3000</option>
                            <option value="4000">4000</option>
                            <option value="4500">4500</option>
                            <option value="5500">5500</option>
                            <option value="6500">6500</option>
                        </select>
                        <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                    </form>
                </article>
                <article class="product">
                    <img src="/img/carretel-shimano-sienna-fg-4-balineras_1.jpg" alt="producto2">
                    <h3>Carrete Shimano Sienna</h3>
                    <p>$ 198.000</p>
                    <form class="selection1" action="#" method="get">
                        <input type="radio" name="color" value="#FF0000">
                        <input type="radio" name="color" value="#000000">
                        <input type="radio" name="color" value="#808000">

                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <select name="size" id="size">
                            <option value="3000">3000</option>
                            <option value="4000">4000</option>
                            <option value="4500">4500</option>
                            <option value="5500">5500</option>
                            <option value="6500">6500</option>
                        </select>
                        <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                    </form>
                </article>
                <article class="product">
                    <img src="/img/cana-okuma-competition-casting.jpg" alt="producto3">
                    <h3>Caña Okuma Competition</h3>
                    <p>$ 128.700</p>
                    <form class="selection1" action="#" method="get">
                        <input type="radio" name="color" value="#000080">
                        <input type="radio" name="color" value="#808080">

                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <select name="size" id="size">
                            <option value="198cm">198cm</option>
                        </select>
                        <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                    </form>
                </article>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </main>
    <a class="Go-home" href="/home">Ir al Inicio</a>
    <footer>        
        <div class="parte-7">            
            <div class="links">
                <h3>Información</h3>
                <ul>
                    <li><a href="#">Condiciones de venta</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de devolución y garantía</a></li>
                    <li><a href="#">Pago en línea</a></li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </div>
            <div class="links">                
                <h3>Enlaces de interés</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pesca deportiva y artesanal</a></li>
                        <li><a href="#">Camping</a></li>
                    </ul>
            </div>
            <div class="links">                
                <h3>Cuenta</h3>
                    <ul>
                        <li><a href="#">Detalles de la cuenta</a></li>
                        <li><a href="#">Carrito de compras</a></li>
                        <li><a href="#">Pedidos</a></li>
                    </ul>
            </div>
            <div class="contacto">
                <img class="Logo-inferior" src="/img/logo 2.0.png" alt="Logo">                             
                <p><i class="fas fa-map-marker-alt"></i> Calle falsa No. 123 - 45, Medellín, Colombia</p>
                <p><i class="fas fa-phone-alt"></i> 57-4-5556677</p>
                <p><i class="fas fa-envelope"></i> info@valpez.com</p>
            </div>
        </div>
        <p class="copy"><i class="far fa-copyright"></i> 2022 - Sitio Ecommerce implementado por Valpez</p> 
    </footer>
</body>
</html>
