<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles_productCart.css" rel="stylesheet">
    <title>.:Carrito de Compras:.</title>
</head>

<body>
    <header>
        <div class="parte-1">
            <p class="informativo">Envío gratis a partir de 150.000 COP - Se excluyen destinos especiales.</p>
            <img class="Logo" src="/img/logo 2.0.png" alt="Logo">

            <span class="Barra-Busqueda"> Buscar articulos <i class="fas fa-search"></i></span>
            <p> <i class="fas fa-map-marker-alt"></i>Enviar a cuenta - ciudad</p>
        </div>
    </header>
    <main>
        <div>
            <p>Subtotal cop </p>
            <p>Tu pedido califica para envío GRATIS.<p>
        </div>

        <p>Proceder al pago (0 productos)</p>
        <div>
            <p>Envía como regalo</p>
        </div>

        <article>
            <img class="Imagen-Productos" src="" alt="">
                
                <div>
                    <p class="producto"><strong>Titulo Producto</strong></p>
                    <p class="precio">$000.000</p>
                    <p>Cantidad disponible</p>
                    <P>Resumen caracteristicas</p>
                </div>
                <div>
                    <p>Guardar para mas tarde</p>
                </div>
        </article>

        <article>
            <img class="Imagen-Productos" src="" alt="">
                
                <div>
                    <p class="producto"><strong>Titulo Producto</strong></p>
                    <p class="precio">$000.000</p>
                    <p>Cantidad disponible</p>
                    <P>Resumen caracteristicas</p>
                </div>
                <div>
                    <p>Guardar para mas tarde</p>
                </div>
        </article>

        <p>Ver productos guardados</p>
    </main>

    <footer>
        <div>
            <i class="fas fa-home"></i>
            <i class="fas fa-user"></i>
            <i class="fas fa-cart-arrow-down"></i>
            <i class="fas fa-bars"></i>
        </div>
    </footer>
</body>
</html>