/********** colores **********/
/*COLORES
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

:root{
    --var-letter : roboto;
    --var-linea-solida:#ebebeb;
    --var-color-button : rgb(100, 218, 218);
    --var-color-letter-button : black;
}
/********** Header **********/

/*
header{
    position: fixed;
    top:0;
    width: 100%;
}
*/

.header-msn{
    background-color: aqua;    /*AJUSTAR EL COLOR*/
    display: none;
    font-size: 12px;;
    padding: 5px;
    text-align: center;
}

.header-msn p {
    margin: 0px;
}

.header-comunicaciones-ventas{
    align-items: center;
    background-color: rgb(77, 75, 75);
    color: rgb(194, 202, 202);
    display: none;
    height: 60px;
    justify-content: flex-end;
}

.redes-sociales{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    
}
.redes-sociales img{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.header-sesion-compras{
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    width: 30%;
}

.header-sesion-compras p {
    cursor: pointer;
}

.header-sesion-compras i {
    cursor: pointer;
}

.header-logo{
    border: 1px solid red;
    width: 100%;
    height: 30px;
    text-align: center;
}

.lista{
    background-color: white;
    display: none;
    height: 40px;
    padding-top: 18px;
    font-size: 18px;
}

.lista ul{
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

.barras-busqueda{
    align-items: center;
    display: flex;
    display: none;
    justify-content: space-around;
    margin: 10px 15px 10px 15px;
}

.barras-busqueda input{
    border: 1px solid var(--var-linea-solida);
    border-radius: 4px;
    height: 25px;
    padding-left: 15px;
    width: 100%;
}

.barras-busqueda i{
    align-items: center;
    border: 1px solid var(--var-linea-solida);
    border-radius: 4px;
    background-color: white;
    display: flex;
    height: 27px;
    justify-content: center;
    margin-left: -15px;
    width: 30px;
}

.menu-movil{
    display: flex;
    margin: 10px 0px 10px 0px;
}

.menu-movil .menu-haburguesa{
    display: none;
    padding-left: 20px;
}

.menu-movil .menu-carrocompras {
    display: none;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

/*
.header-carrusel article{     
    margin-top: 177px;
}
*/

img{
    width: 100%;
}

.category{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px -16px 0px;
    padding: 0px 50px 0px 50px;
}

.category-pesca {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 60%;
    height: 90%;
    padding: 10px;
}

.category-pesca img{
    height: 80%;
}

.productos-destacados{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid var(--var-linea-solida);
    cursor: pointer;
    margin: 70px;
}

.productos-descripciones p{
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.productos-descripciones{
    padding: 20px 10px 10px 10px;
}

.modulo-detalle{
    border-top: 1px solid var(--var-linea-solida);
}

.desplegar-lista{
    display: flex;
    justify-content: center;
    width: 100%;
}

.desplegar-lista select {
    border: 1px solid var(--var-linea-solida);
    border-radius: 5px;
    display: flex;
    height: 25px;
    margin: 7px 0px 7px 0px;
    width: 90%;
}

.productos-añadir{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.productos-añadir input{
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    height: 20px;
    width: 30px;
}

.productos-añadir button{
    border: 1px solid var(--var-linea-solida);
    color: var(--var-color-letter-button);
    border-radius: 3px;
    width: 70%;
    background-color: var(--var-color-button);
}

body{
    margin: 0px;
    background-color: var(--var-linea-solida);
}

.modulo{
    padding-bottom: 20px;
    width: 100%;
}

/*********MAIN**********/


.destacados{

    border: 1px solid var(--var-linea-solida);
    background-color: white;
    text-align: center;
}

.blog-pesca{
    display: flex;
    margin: 0px 25px 10px 25px;
}

.consejo1{
    text-align: center;
}

.consejo1 button{
    background-color: var(--var-color-button);
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    color: var(--var-color-letter-button);
    height: 30px;
}

.consejo2 {
    text-align: center;
}

.consejo2 button{
    background-color: var(--var-color-button);
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    color: var(--var-color-letter-button);
    height: 30px;
    width: 50%;
}

/*******************/



/*********MEDIA QUERYS*******/

@media (max-width:361px) {

    /*menores a 361*/
    .main-productos {
        text-align: -webkit-center;
    }
    .productos-destacados {
        width: 80%;
        margin: 20px 5px 20px 5px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 25px 10px 25px;
    }
    
    .consejo1 {
        margin: 0px 0px 20px 0px;
    }
    
    .consejo1 button {
        width: 40%;
    }
    
    .barras-busqueda {
        display: flex;
    }
    
    .menu-movil .menu-haburguesa {
        display: block;
    }
    
    .menu-movil .menu-carrocompras {
        display: block;
    }
    
}


@media (min-width:361px) {
    /*mayores a 361*/
    /* MOBILE*/
    .main-productos {
        border: 1px solid green;
        text-align: -webkit-center;
    }

    .productos-destacados {
        width: 80%;
        margin: 20px 5px 20px 5px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 25px 10px 25px;
    }

    .consejo1 {
        margin: 0px 0px 20px 0px;
    }

    .consejo1 button {
        width: 40%;
    }

    .category{
        flex-wrap: wrap;
        padding: 0px;
    }

    .barras-busqueda {
        display: flex;
    }

    .menu-movil .menu-haburguesa {
        display: block;
    }
    
    .menu-movil .menu-carrocompras {
        display: block;
    }
}

/*TABLES AND LARGER SMARTPHONES  481-768*/

@media (min-width:481px) {
    .main-productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid blue;
    }

    .productos-destacados {
        width: 35%;
        margin: 20px 25px 20px 25px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: nowrap;
        margin: 0px 25px 10px 25px;
    }

    .consejo1 button{
        width: 30%;
    }
    
    .consejo2 button {
        width: 60%;
    }

    .category {
        flex-wrap: nowrap;        
    }

    .category-pesca{
        padding: 20px 30px 20px 30px;
    }

    .header-comunicaciones-ventas {
        display: flex;
    }

    .lista {
        display: block;
    }

    .header-msn {
        display: block;
    }

    .barras-busqueda {
        display: none;
    }

    .menu-movil .menu-haburguesa {
        display: none;
    }
    
    .menu-movil .menu-carrocompras {
        display: none;
    }
}

/*LAPTOPS, TABLES AND SMALL DESKTOPS  769-1279*/

@media (min-width:769px) {
    .main-productos{
        display: flex;
        flex-direction: row;
        border: 1px solid red;
    }

    .productos-destacados{
        width: 20%;
        margin: 15px;
    }

    .productos-destacados:hover{
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .consejo1 button {
        width: 20%;
    }

    .consejo2 button {
        width: 40%;
    }
}