* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

/*------------ Main -----------------*/

.form-login {
    display: block;
    margin: 5rem auto;
    text-align: center;
    background-color: rgba(57,69,93,0.4);
    border-radius: 20px;
    border: none;
    padding: 2rem 1rem;
    width: 60%;
}

h2 {
    padding: 1rem;
    color: var(--fourth);
}

.form-login input, .form-login button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 70%;
    margin: 1rem;
    color: var(--third);
    transition: all 500ms;
}

.form-login button {
    background-color: var(--principal);
    font-weight: bold;
}

.form-login button:hover {
    background-color: var(--fourth);
    color: var(--white);
}

.form-login a {
    display: block;
    transition: all 500ms;
    padding: 0.5rem;
}

.form-login a:hover {
    color: var(--fifth);
}

input:invalid{
    border: 1px solid red;
}
