* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

:root{
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
    --invalid : rgba(211, 8, 8,0.5);
}

li {
    list-style-type: none;
}

a {
    color: var(--third);
    text-decoration: none;    
}

button {
    cursor: pointer;
}
.text-danger{
    color: var(--invalid);
    font-size: 1rem;
    font-weight: bold;
}
.is-invalid {
    box-shadow: 1px 1px 1px 1px var(--invalid);;
}

/*------------ Main-----------------*/

.form-creation{
    background-color: rgba(57,69,93,0.4);
    border-radius: 20px;
    display: block;
    margin: 5rem auto;
    padding: 2rem 1rem;    
    text-align: left;
    width: 60%;
}

.formularios h1 {
    padding: 1rem;
    color: var(--fourth);
    text-align: center;
}

.formularios div{
    padding: 0.5rem;
}

.formulario-creation{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

textarea{
    height: 10rem;
}

.formulario-colores{
    display: block;
    border: none;
    border-radius: 5px;
    width: 3rem;
    margin: 0.5rem;
}

.titulos-formulario{
    display: block;
    font-weight: bold;
    padding: 0.5rem;
}

.form-creation button{
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    color: var(--third);
    font-weight: bold;
    margin: 1rem;
    padding: 0.5rem 1rem;
    transition: all 450ms;
}

.formularios button:hover{
    background-color: var(--fourth);
    color: var(--white);
}

/*----------Fin Main---------------*/