* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

:root{
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
    --invalid : rgba(211, 8, 8,0.5);
}

li {
    list-style-type: none;
}

a {
    color: var(--third);
    text-decoration: none;    
}

button {
    cursor: pointer;
}
.text-danger{
    color: var(--invalid);
    font-size: 1rem;
    font-weight: bold;
}
.is-invalid {
    box-shadow: 1px 1px 1px 1px var(--invalid);;
}

/*----------- Main ----------*/
main{
    margin-top: 7rem;
}
.bloque-1{    
    display: flex;
    justify-content: space-between;    
}

.parte-3{    
    background-color: var(--principal);
    border-radius: 5px;  
    color: black;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    padding-bottom: 10px;    
}

.parte-3 i{
    font-size: 18px;
    margin: 8px;
    margin-left: 25px;
}

.parte-3 h2, .parte-4 h2{
    font-size: 22px;
    margin: 5px 0px 5px 25px; 
}

.parte-4{
    border: 1px solid var(--fourth);
    border-radius: 5px;
    display:block;
    padding-bottom: 10px;
}

.parte-4 h4{
    color: var(--fifth);
    margin: 3px 25px 8px 25px;
}

.parte-4 label{
    color: black;
    display: block;
    margin: 3px 25px 8px 25px;
}
.parte-4 input{
    font-size: 18px;
    margin: 0px 8px 0px 0px;
}

.parte-4 button{    
    border: 1px solid var(--second);
    border-radius: 5px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px 9px;
    transition: all 450ms;
}

.parte-4 button:hover{
    background-color: var(--fourth);
    color: var(--white);
}

article{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article input{
    margin-left: 25px;
}

.Productos{
    height: 20%;
    flex-grow: 0.1;
    margin: 0px 20px;
    width: 20%;
}

.descproduct{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0px 50px 0px 0px;
    width: 35%;    
}

.descproduct select{
    margin: 5px;
    width: 15%;
}

.producto{
    font-size: 22px;
    margin: 5px 0px 5px 0px;
}

.precio{
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

article .detalles-producto, article .detalles{
    color: black;
    font-size: 16px;
    margin: 10px 0px 15px 0px;
    text-align: justify;
    width: 90%;    
}

article button{    
    border: 1px solid var(--second);
    border-radius: 5px;
    color: black;
    flex-grow: 0.1;
    margin: 0px 30px;
    padding: 5px 9px;
    transition: all 450ms;
}

article button:hover{
    background-color: var(--fourth);
    color: var(--white);
}

.parte-6{    
    display: block;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.parte-6 button{
    border: 1px solid var(--second);
    border-radius: 5px;
    color: black;
    font-size: 22px;
    padding: 5px 18px;
    transition: all 450ms;
}

.parte-6 button:hover{
    background-color: var(--fourth);
    color: var(--white);
}

/*---------- Fin Main -------------*/


/*------ Vista Mobile ----------*/

@media (max-width:768px){
    /*------- Main --------------*/
    
    main{
        margin-top: 3rem;
    }

    .bloque-1{
        display: flex;
        flex-direction: column-reverse;
    }

    .parte-3{    
        align-items: center;
        border-radius: 12px;
        font-size: 16px;
    }

    .parte-3 i{
        font-size: 16px;
        margin-left: 15px;  
    }
    
    .parte-3 h2, .parte-4 h2{
        font-size: 18px;
        margin: 5px 0px 5px 15px; 
    }

    .parte-4{
        border: none;
        border-radius: 12px;
        padding-bottom: 8px;
    }
    
    .parte-4 h4, .parte-4 label, .parte-4 button{
        margin-left: 15px;
    }

    .parte-4 a{
        display: block;
        text-align: right;
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;       
    }

    article input{
        display: none;
    }
    
    .Productos{
        height: 30%;
        width: 60%;
    }
    
    .descproduct{
        margin: 0px 20px;
        text-align: center;
        width: 60%;
    }

    .detalles-producto{
        display: none;
    }
    
    .caracteristicas{
        flex-direction: row;
        margin:5px;
    }
    
    .descproduct select{
        width: 20%;
    }

    .producto{
        font-size: 30px;
    }
    
    .precio{
        font-size: 26px;
    }
    
    article .detalles{
        font-size: 18px;
        text-align: center; 
    }
    
    article button{
        font-size: 16px;
        margin: 5px
    }

    /*------- Fin Main ----------*/
}

/*------ Vista Tablet ----------*/

@media (min-width:769px) and (max-width:1024px){

    /*------- Main --------------*/
    main{
        margin-top: 2rem;
    }

    .parte-3{    
        border-radius: 8px;
        font-size: 12px;
        padding-bottom: 8px;    
    }
    
    .parte-3 i{
        font-size: 16px;
        margin-left: 15px;        
    }
    
    .parte-3 h2, .parte-4 h2{
        font-size: 18px;
        margin: 5px 0px 5px 15px; 
    }

    .parte-4{
        border-radius: 8px;
        padding-bottom: 8px;
    }
    
    .parte-4 h4, .parte-4 label, .parte-4 button{
        margin-left: 15px;
    }
    
    article input{
        margin-left: 15px;
    }
    
    .Productos{
        height: 35%;
        width: 35%;
    }
    
    .descproduct{
        width: 50%;
        margin: 0
    }

    .detalles-producto{
        display: none;
    }
    
    .descproduct select{
        display: flex;
        flex-direction: column;
        margin-left:80px;
        width: 30%;    
    }
    
    .producto{
        font-size: 28px;
    }
    
    .precio{
        font-size: 24px;
    }
    
    article .detalles{
        font-size: 18px;   
    }
    
    article button{
        margin: 5px
    }

    /*------- Fin Main ----------*/
}