* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

/*----------- Main ----------------*/

.carrusel {
    position: relative;
}

.slide2 img, .slide3 img{
    position: absolute;
    top: 0;
}

.carrusel img {
    width: 100%;
    height: 20rem;
}

@keyframes slide1 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slide2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slide3 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.slide1 img{
    animation: slide1 20s infinite alternate;
}
.slide2 img{
    animation: slide2 20s infinite alternate;
}
.slide3 img{
    animation: slide3 20s infinite alternate;
}

.AddProducts {
    align-items: center;
    color: var(--second);
    display: flex;
    font-size: 1rem;
    justify-content: right;
    margin-top: 15px;
    margin-right: 25px;
    transition: all 500ms;
}

.AddProducts:hover .circle{
    color: var(--principal);
}

.circle {
    color: var(--second);
    font-size: 2rem;
    margin-left: 5px;  
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
}
.categories img {
    opacity: 1;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 50%;
    transition: all 500ms;
}

.categories a {
    opacity: 0;
    width: 20rem;
    height: 20rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    top: 0;
    color: var(--third);
    font-weight: bolder;
    transition: all 500ms;
    font-size: 2rem;
    padding: 8rem;
    margin: 1rem;
}

.subCategories:hover img {
    opacity: 0.4;
}
.subCategories:hover a {
    opacity: 1;
}

.titleSub {
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
}

.related {
    padding: 1rem;
}

.relatedProducts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.related h2 {
    padding: 1rem;
}

.related img {
    width: 12rem;
    height: 12rem;
}


.product {
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    transition: all 500ms;
    width: 15rem;
}

.product:hover {
    box-shadow: 0px 0px 10px rgba(169,156,104,0.7);
}

.product h3, .product p, .product .selection1{
    padding: 0.5rem;
}

.relatedProducts i {
    cursor: pointer;
    transition: all 500ms;
    font-size: 1.5rem;
}

.relatedProducts i:hover {
    color: var(--fifth);
}

.selection1 button {
    border: none;
    background-color: var(--principal);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.selection1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.selection1 select {
    flex-grow: 0.4;
}

.consejo {
    display: flex;
    justify-content: space-around;
    height: 15rem;
}

.consejo img{
    width: 40%;
    height: 15rem;
    opacity: 0.7;
    transition: all 500ms;

}
.consejo img:hover {
    opacity: 1;
}

.consejo h2 {
    background-color: rgba(57,69,93,0.3);
    width: 30%;
    padding: 1rem;
    transition: all 500ms;
}
.consejo h2:hover {
    background-color: var(--principal);
}

.consejo div {
    width: 30%;
    padding: 1rem;
    transition: all 500ms;
}
.consejo div:hover {
    background-color: var(--principal);
}

.consejo p, .consejo button {
    margin: 1rem;
}

.consejo button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: all 500ms;
}

.consejo button:hover {
    background-color: var(--fourth);
    color: var(--white);
}

/*-------- Fin main -----------------*/

/*------ Vista Mobile ----------*/

@media (max-width:768px){
    /*----------- Main ----------------*/
    .carrusel {
        display: none;
    }
    .categories img{
        display: none;
    }
    .categories a {
        position: relative;
        opacity: 1;
        margin: 0;
        padding: 2rem;
        font-size: 1rem;
        color: var(--white);
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-top: 3rem;
        border: none;
    }

    .cam {
        background-color: rgba(76, 40, 55, 0.5);
    }
    .pes {
        background-color: rgba(57,69,93,0.5);
    }

    .related {
        padding: 1rem;
    }

    .relatedProducts {
        flex-direction: column;
        padding: 1rem;
    }

    .related h2 {
        padding: 1rem;
    }

    .related img {
        width: 8rem;
        height: 8rem;
    }

    .consejo {
        flex-wrap: wrap;
        height: 10rem;
        margin-bottom: 9rem;
    }

    .consejo img{
        width: 50%;
        height: 10rem;
    }

    .consejo h2 {
        background-color: rgba(57,69,93,0.3);
        width: 50%;
    }

    .consejo div {
        display: block;
        width: 100%;
    }

    .consejo div:hover {
        background-color: var(--principal);
    }

    /*-------- Fin main -----------------*/
}