* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

/*---------- header -------------*/
.header {
    width: 100%;
}

.infoPromo {
    text-align: center;
    font-size: 1rem;
    background-color: var(--second);
    color: white;
    padding: 4px;
    width: 100%;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--principal);
    height: 3rem;
    width: 100%;
}

.logo1 {
    position: relative;
    top: 70px;
    width: 20rem;
    height: 20rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin: 15px;
}

.search input,
.search button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.search input {
    width: 20rem;
}

.login {
    color: var(--third);
    margin: 15px;
    font-weight: bold;
    transition: all 500ms;
}

.login:hover {
    color: var(--fifth);
}

.cart {
    margin: 15px 30px 15px 15px;
    color: var(--second);
    font-size: 30px;
    transition: all 500ms;
}

.cart:hover {
    color: var(--white);
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sixth);
    height: 5rem;
}

.header2 li {
    margin: 50px;
    text-align: center;
}

.header2 a {
    transition: all 500ms;
}

.header2 a:hover {
    color: var(--white);
}

.header2 ul {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    font-weight: bold;
}

.burguer-menu {
    display: none;
}

.burguer-menu:hover {
    color: var(--white);
}

/*----------- Fin Header -----------*/

/*----------- main --------------*/
main {
    margin: 15px;
}

.route ul {
    display: flex;
    justify-content: end;
    padding: 0;
}

.route a {
    margin: 0 3px;
    transition: all 500ms;
}

.route a:hover {
    color: var(--fourth);
    font-weight: bold;
}

.productSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview i{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 500ms;
}

.preview i:hover {
    color: var(--fifth);
}

.preview img {
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    margin: 10px;
}

.photo {
    width: 30rem;
    height: 30rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}

.details a {
    transition: all 500ms;
}

.details .available {
    color: var(--fifth);
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details a:hover{
    color: var(--fourth);
    font-weight: bold;
}

.selection button {
    border-radius: 5px;
    border: none;
    padding: 1rem 1.5rem;
    background-color: var(--principal);
    transition: all 500ms;
    font-size: 1rem;
    color: var(--second);
}

.selection button:hover {
    color: var(--fifth);
}

.selection button i{
    font-size: 1.5rem;
}

.moreDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.description, .factSheet {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
    transition: all 500ms;
}

.description:hover, .factSheet:hover {
    background-color: var(--principal);
    border: none;
    border-radius: 10px;
}

.moreDetails h2 {
    margin-bottom: 2rem;
}

.description ul {
    padding: 20px;
    margin-bottom: 2rem;
}
.description li {
    list-style-type:circle
}

.description iframe {
    margin-bottom: 2rem;
}

.features {
    display: flex;
    justify-content: space-between;
}

.features div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.features span {
    width: 95%;
    background-color: rgba(57,69,93,0.2);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 15px;
}
.related {
    margin: 2rem;
}

.relatedProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.related h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.related img {
    width: 15rem;
    height: 15rem;
}

.product {
    padding: 15px;
    border-radius: 8px;
    transition: all 500ms;
    
}

.product:hover {
    box-shadow: 0px 0px 10px rgba(169,156,104,0.7);
}

.product h3, .product p, .product .selection1{
    margin: 10px 0;
}

.relatedProducts i {
    cursor: pointer;
    transition: all 500ms;
    font-size: 1.5rem;
}

.relatedProducts i:hover {
    color: var(--fifth);
}

.selection1 button {
    border: none;
    background-color: var(--principal);
    border-radius: 5px;
    padding: 5px 8px;
    width: 5rem;
}

.selection1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.selection1 select {
    flex-grow: 0.4;
}

/*---------- Footer ---------------*/
.Go-home {
    background-color: var(--principal);
    color: var(--third);
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: 500ms;
}

.Go-home:hover {
    color: var(--fifth);
}

footer {
    background-color: var(--second);
}

.parte-7 {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.parte-7 h3 {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-top: 10px;
}

footer a,
footer ul,
footer li {
    color: var(--white);
    list-style: none;
    margin: 1px;
    padding: 3px 0px 3px 0px;
    text-decoration: none;
}

.Logo-inferior {
    height: 150px;
    width: 150px;
}

.contacto {
    text-align: center;
    position: relative;
}

.contacto p {
    padding: 3px 0px 3px 0px;
}

.copy {
    color: var(--white);
    padding: 8px;
    size: 1rem;
    text-align: center;
}

.logos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.redesSociales {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 10px;
}

.social-icon {
    cursor: pointer;
    color: var(--white);
    font-size: 1.5rem;
}

/*------------ Fin footer ------------*/

/*------ Vista Mobile ----------*/

@media (max-width:768px){
    /*---- Header ----------*/
    
    .burguer-menu {
        display: block;
    }

    .header2 {
        display: none;
    }

    .logo1 {
        position: absolute;
        top: -1rem;
        left: 33%;
        margin: auto;
        width: 8.125rem;
        height: 8.125rem;
    }

    .infoPromo {
        display: none;
    }

    .header1 {
        height: 6rem;
        position: relative;
        text-align: center;
        margin: auto;
        max-width: 400px;
        background-color: var(--principal);
    }

    .actions {
        width: 100%;
        margin: 0;
        padding: 1px;
    }
    
    .search {
        display: inline-block;
        position: absolute;
        bottom: -2rem;
        width: 100%;
        left: 0;
        margin: 0;
    }
    
    .search input,
    .search button {
        font-size: 0.6rem;
        padding: 5px;
        margin: 0;
        border: 1px solid var(--second);
    }
    
    .search input {
        width: 80%;
    }


    .login {
        display: none;
    }
    
    .cart {
        position: absolute;
        right: 0;
        margin: 3rem;
        font-size: 2rem;
        color: var(--second);
    }

    header {
        background-color: var(--second);
    }

    .burguer-menu {
        position: absolute;
        left: 0;
        border: none;
        background-color: var(--principal);
        color: var(--second);
        font-size: 2rem;
        cursor: pointer;
        transition: all 500ms;
        margin: 3rem;
    }

    /*------- fin header --------*/

    /*------- main ----------*/

    main {
        margin: 3rem 0 0 0;
    }
    
    .route ul {
        justify-content: flex-start;
        font-size: 0.8rem;
        margin: 1rem;
    }
    
    .productSelected {
        flex-direction: column;
        margin: 1.2rem 1rem 1rem 1rem;
    }
    
    .preview {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    
    .preview i{
        font-size: 1rem;
        transform: rotate(-90deg);
    }
    
    
    .preview img {
        width: 2rem;
        height: 2rem;
        margin: 5px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px var(--fourth);
    }
    
    .photo {
        width: 12rem;
        height: 12rem;
    }
    
    .details {
        height: auto;
    }
    
    .details h1 {
        font-size: 1.5rem;
        margin: 3px;
    }

    .details h2 {
        font-size: 1.2rem;
        margin: 3px;
    }

    .details p {
        font-size: 1rem;
        margin: 3px;
    }

    .details .available {
        display: none;
    }
    
    .selection label {
        display: none;
    }

    .selection {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 99;
        width: 100%;
        background-color: var(--second);
        justify-content: center;
    }
    
    .details a{
        display: none;
    }
    
    .selection button {
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        margin: 8px;
    }

    .selection select {
        margin: 8px;
        width: 4rem;
    }
    
    .moreDetails {
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
    }
    
    .description, .factSheet {
        width: 100%;
        padding: 1rem;
    }
    
    .moreDetails p, .moreDetails ul, .moreDetails iframe {
        display: none;
    }
    
    .features {
        display: none;
    }
    
    .related {
        margin: 1rem;
        width: 100%;
    }
    
    .relatedProducts {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
    }
    
    .related h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .related img {
        width: 6rem;
        height: 6rem;
    }
    
    .product {
        padding: 1rem;
        width: 300px;
    }
    
    .product h3, .product p {
        margin: 2px;
    }

    .selection1 {
        display: none;
    }
    
    .relatedProducts i {
        display: none;
    }

    /*---------- fin main ------ */



}

/*------ Vista Tablet ----------*/

@media (min-width:769px) and (max-width:1024px){

    /*--------- Header -------*/
    
    .infoPromo {
        position: relative;
        z-index: 12;
        font-size: 0.8rem;

    }
    
    .logo1 {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 10rem;
    }
    
    .header2 {
        height: 4rem;
    }
    
    .header2 li {
        margin: 1rem;
    }
    
    .header2 ul {
        margin-left: 8rem;
    }
    
    /*----------- Fin Header -----------*/

}