* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal:#eadc98;
    --second: #4c2837;
    --third: #170f11;
    --fourth:#394c5d;
    --fifth: #e18340;
    --sixth: #a99c68;
    --white: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

button {
    cursor: pointer;
}

/*---------- header -------------*/
.header {
    width: 100%;
}

.infoPromo {
    text-align: center;
    font-size: 1rem;
    background-color: var(--second);
    color: white;
    padding: 4px;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--principal);
    height: 3rem;
}

.logo1 {
    position: relative;
    top: 70px;
    width: 20rem;
    height: 20rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin: 15px;
}

.search input,
.search button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.search input {
    width: 20rem;
}

.login {
    color: var(--third);
    margin: 15px;
    font-weight: bold;
    transition: all 500ms;
}

.login:hover {
    color: var(--fifth);
}

.cart {
    margin: 15px 30px 15px 15px;
    color: var(--third);
    font-size: 30px;
    transition: all 500ms;
}

.cart:hover {
    color: var(--fifth);
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sixth);
    height: 5rem;
}

.header2 li {
    margin: 50px;
    text-align: center;
}

.header2 a {
    transition: all 500ms;
}

.header2 a:hover {
    color: var(--white);
}

.header2 ul {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    font-weight: bold;
}

/*----------- Fin Header -----------*/

img{
    width: 100%;
}

.category{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px -16px 0px;
    padding: 0px 50px 0px 50px;
}

.category-pesca {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 60%;
    height: 90%;
    padding: 10px;
}

.category-pesca img{
    height: 80%;
}

.productos-destacados{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid var(--var-linea-solida);
    cursor: pointer;
    margin: 70px;
}

.productos-descripciones p{
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.productos-descripciones{
    padding: 20px 10px 10px 10px;
}

.modulo-detalle{
    border-top: 1px solid var(--var-linea-solida);
}

.desplegar-lista{
    display: flex;
    justify-content: center;
    width: 100%;
}

.desplegar-lista select {
    border: 1px solid var(--var-linea-solida);
    border-radius: 5px;
    display: flex;
    height: 25px;
    margin: 7px 0px 7px 0px;
    width: 90%;
}

.productos-añadir{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.productos-añadir input{
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    height: 20px;
    width: 30px;
}

.productos-añadir button{
    border: 1px solid var(--var-linea-solida);
    color: var(--var-color-letter-button);
    border-radius: 3px;
    width: 70%;
    background-color: var(--var-color-button);
}

body{
    margin: 0px;
    background-color: var(--var-linea-solida);
}

.modulo{
    padding-bottom: 20px;
    width: 100%;
}

/*********MAIN**********/


.destacados{

    border: 1px solid var(--var-linea-solida);
    background-color: white;
    text-align: center;
}

.blog-pesca{
    display: flex;
    margin: 0px 25px 10px 25px;
}

.consejo1{
    text-align: center;
}

.consejo1 button{
    background-color: var(--var-color-button);
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    color: var(--var-color-letter-button);
    height: 30px;
}

.consejo2 {
    text-align: center;
}

.consejo2 button{
    background-color: var(--var-color-button);
    border: 1px solid var(--var-linea-solida);
    border-radius: 3px;
    color: var(--var-color-letter-button);
    height: 30px;
    width: 50%;
}

/*---------- Footer ---------------*/
.Go-home {
    background-color: var(--principal);
    color: var(--third);
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: 500ms;
}

.Go-home:hover {
    color: var(--fifth);
}

footer {
    background-color: var(--second);
}

.parte-7 {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.parte-7 h3 {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-top: 10px;
}

footer a,
footer ul,
footer li {
    color: var(--white);
    list-style: none;
    margin: 1px;
    padding: 3px 0px 3px 0px;
    text-decoration: none;
}

.Logo-inferior {
    height: 150px;
    width: 150px;
}

.contacto {
    text-align: center;
    position: relative;
}

.contacto p {
    padding: 3px 0px 3px 0px;
}

.copy {
    color: var(--white);
    padding: 8px;
    size: 1rem;
    text-align: center;
}

.logos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.redesSociales {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 10px;
}

.social-icon {
    cursor: pointer;
    color: var(--white);
    font-size: 1.5rem;
}

/*------------ Fin footer ------------*/

/*******************/
/*---------- Footer ---------------*/
.Go-home {
    background-color: var(--green);
    border-bottom: var(--black) 1px solid;
    border-top: var(--black) 1px solid;
    color: var(--black);
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: var(--purple);
}

.parte-7 {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.parte-7 h3 {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-top: 10px;
}

footer a,
footer ul,
footer li {
    color: var(--white);
    list-style: none;
    margin: 1px;
    padding: 3px 0px 3px 0px;
    text-decoration: none;
}

.Logo-inferior {
    height: 150px;
    width: 150px;
}

.contacto {
    text-align: center;
    position: relative;
}

.contacto p {
    padding: 3px 0px 3px 0px;
}

.copy {
    color: var(--white);
    padding: 8px;
    size: 12px;
    text-align: center;
}

/*------------ Fin footer ------------*/


/*********MEDIA QUERYS*******/

@media (max-width:361px) {

    /*menores a 361*/
    .main-productos {
        text-align: -webkit-center;
    }
    .productos-destacados {
        width: 80%;
        margin: 20px 5px 20px 5px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 25px 10px 25px;
    }
    
    .consejo1 {
        margin: 0px 0px 20px 0px;
    }
    
    .consejo1 button {
        width: 40%;
    }
    
    .barras-busqueda {
        display: flex;
    }
    
    .menu-movil .menu-haburguesa {
        display: block;
    }
    
    .menu-movil .menu-carrocompras {
        display: block;
    }
    
}


@media (min-width:361px) {
    /*mayores a 361*/
    /* MOBILE*/
    .main-productos {
        border: 1px solid green;
        text-align: -webkit-center;
    }

    .productos-destacados {
        width: 80%;
        margin: 20px 5px 20px 5px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 25px 10px 25px;
    }

    .consejo1 {
        margin: 0px 0px 20px 0px;
    }

    .consejo1 button {
        width: 40%;
    }

    .category{
        flex-wrap: wrap;
        padding: 0px;
    }

    .barras-busqueda {
        display: flex;
    }

    .menu-movil .menu-haburguesa {
        display: block;
    }
    
    .menu-movil .menu-carrocompras {
        display: block;
    }
}

/*TABLES AND LARGER SMARTPHONES  481-768*/

@media (min-width:481px) {
    .main-productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid blue;
    }

    .productos-destacados {
        width: 35%;
        margin: 20px 25px 20px 25px;
    }

    .productos-destacados:hover {
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .blog-pesca {
        display: flex;
        flex-wrap: nowrap;
        margin: 0px 25px 10px 25px;
    }

    .consejo1 button{
        width: 30%;
    }
    
    .consejo2 button {
        width: 60%;
    }

    .category {
        flex-wrap: nowrap;        
    }

    .category-pesca{
        padding: 20px 30px 20px 30px;
    }

    .header-comunicaciones-ventas {
        display: flex;
    }

    .lista {
        display: block;
    }

    .header-msn {
        display: block;
    }

    .barras-busqueda {
        display: none;
    }

    .menu-movil .menu-haburguesa {
        display: none;
    }
    
    .menu-movil .menu-carrocompras {
        display: none;
    }
}

/*LAPTOPS, TABLES AND SMALL DESKTOPS  769-1279*/

@media (min-width:769px) {
    .main-productos{
        display: flex;
        flex-direction: row;
        border: 1px solid red;
    }

    .productos-destacados{
        width: 20%;
        margin: 15px;
    }

    .productos-destacados:hover{
        box-shadow: 0px 0px 10px rgb(26, 24, 24);
    }

    .consejo1 button {
        width: 20%;
    }

    .consejo2 button {
        width: 40%;
    }
}