<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Nosotros:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="aboutUs">
        <h2 class="titleSub">Quienes Somos</h2>
            <p>Valpez es un proyecto en crecimiento creado con el fin de satisfacer los gustos y necesidades que tienen cada uno de los amantes del outdoor, especialmente la pesca y el camping en nuestro país, día a día nos encargamos de importar productos de excelente calidad y los hacemos llegar a cada uno de nuestros clientes gracias a nuestra amplia variedad de precios. Somos promotores de pescar y liberar y acampar sin acabar, nuestro presente es el futuro de muchas otras generaciones y si hoy acabamos con todo lo que tenemos a nuestro alrededor más adelante nadie podrá disfrutarlo como lo hacemos ahora. 
            <br>
            <br>
            Somos promotores de pescar y liberar y acampar sin acabar, nuestro presente es el futuro de muchas otras generaciones y si hoy acabamos con todo lo que tenemos a nuestro alrededor más adelante nadie podrá disfrutarlo como lo hacemos ahora.
            </p>
                    
        <h2 class="titleSub">Nuestra Misión</h2>
            <p>Brindar la asesoría necesaria sobre todos nuestros servicios, garantizar constantemente un amplio portafolio, una buena relación calidad precio, distintas formas de pago y amplia cobertura en envíos para que cada uno de nuestros clientes pueda vivir una excelente aventura. Asimismo, incentivar la práctica de las actividades al aire libre y que puedan compartir con toda su familia y amigos.</p>
        
        <h2 class="titleSub">Nuestra Visión</h2>
            <p>Llegar a cada una de las personas que en algún momento se han sentido atraídos por realizar actividades relacionadas con la pesca y el camping para entregarle nuestros productos y gracias a su apoyo darnos a conocer en todo el territorio colombiano para que en el 2024 seamos una de las principales tiendas de artículos outdoor del país.</p>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>