<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Aventuras:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="adventures">
        <h2 class="titleSub">Conoce Nuestras Aventuras</h2>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>