<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Condiciones de venta:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="conditions">
        <h2 class="titleSub">Condiciones de venta</h2>

            <ul>
                <li>Los tiempos de entrega varían según el destino, este proceso para ciudades principales puede demorar 2 a 3 días hábiles, mientras que otros destinos pueden tardar entre 4 y 8 días hábiles después de la recepción del pago de los artículos.</li>
                <li>No aplica envío gratis para destinos especiales (Islas o internacionales).</li>
                <li>Cada uno de nuestros productos es completamente nuevo, original e importado por lo cual se garantiza la calidad del mismo.</li>
                <li>El usuario puede elegir si así lo desea el operador logístico con el cual desea recibir el producto, en caso de que el cliente no informe alguna empresa en especial todos los envíos serán realizados a nuestro criterio con el fin de buscar una excelente relación entre tiempo de entrega, seguridad del transporte y precio.</li>
                <li>Si el usuario desea adquirir nuestros productos no prefiere pasar por ellos a nuestra localización puede hacerlo, sin embargo, debe notificar que así lo desea para concretar una fecha y hora y asegurar que todos los productos se encuentren listos para su llegada.</li>
                <li>En caso de tener dudas con los productos a comprar, recomendamos contactarnos antes de efectuar los pagos para garantizarle una correcta asesoría.</li>
                <li>El usuario tendrá un periodo de 30 días luego de recibido el producto para realizar algún cambio o garantía, cabe aclarar que los productos deben contar con las etiquetas de fábrica y su empaque original, asimismo, el usuario debe asumir los costos de logística.</li>
                <li>Productos con descuentos o en promoción no tienen cambio.</li>
                <li>No se realizan devoluciones de dinero.</li>
                <li>Generado el envío de producto con la empresa logística procedemos a notificar al cliente el respectivo número de guía y la empresa con la cual se está llevando a cabo el proceso.</li>
            </ul>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>