<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Contáctanos:.</title>
</head>
<body>

    <%- include('../partials/header') %>

        <h2 class="titleSub">Canales de atención</h2>
        <div class="contacts">
        
            <h3 ><i class="fas fa-map-marker-alt"></i> Tienda Presencial</h3>
                <p>Carrera 52 # 100C – 08 Barrio Santa Cruz, Medellín, Antioquia, Colombia.</p>
        
            <h3><i class="fab fa-whatsapp"></i> WhatsApp</h3>
                <a href="http://wa.me/573113800948">+57 311 380 0948</a>
        
            <h3><i class="fas fa-envelope"></i> Correo Electrónico</h3>
                <p>tiendavalpez@gmail.com</p>
            
        </div>

    <%- include('../partials/footer') %>

</body>
</html>