<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Métodos de pago:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="payments">
        <h2 class="titleSub">Métodos de pago</h2>
            <p>Aceptamos pagos con tarjetas de crédito, PSE y Nequi. Lo anterior a través de la pasarela de pagos seguro de Mercado Pago.</p>

        <h3>Acerca de Mercado Pago</h3>
            <p>Una solución de Mercado Libre, enfocada a agilizar los negocios facilitando diferentes medios de pago bajo los estándares más altos de seguridad. Mercado Pago nace para prestar los servicios de pasarela de pago para que puedan ofrecer a sus clientes una amplia alternativa de pago para la venta de sus productos. Ver más información en <a href="https://mercadopago.com.co/">https://mercadopago.com.co/</a></p>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>