<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_links.css" rel="stylesheet">    
    <title>.:Donde Acampar:.</title>
</head>
<body>

    <%- include('../partials/header') %>

    <div class="where">
        <h2 class="titleSub">¿Quieres ir a Acampar?</h2>
            <p>En nuestra tienda no solo encontrarás los mejores productos para acampar, si no que tambiÉn podrás ver excelentes lugares que te recomendamos para ir a realizar un buen camping. A continuación se listan estos lugares:</p>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>