<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_login.css" rel="stylesheet">
    <title>.:Login:.</title>
</head>
    
<body>
    <%- include('../partials/header') %>

    <main>
        <div class="form-login">
            <h2>Iniciar sesión</h2>
            <form action="/users/login" method="POST">
                <% if(locals.errors && errors.email){ %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <div>
                    <input type="email" name="email" placeholder="Email" class="form-element">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Contraseña" class="form-element">
                </div>
                <button class="bLogin" type="submit">Enviar</button>
            </form> 
            <a href="#">¿Olvidaste tu contraseña?</a>
            <a href="/users/register">Crear tu cuenta Valpez</a>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>