<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_login.css" rel="stylesheet">
    <title>Login</title>
</head>
    
<body>
    <%- include('../partials/header') %>

    <main>
        <div class="form-login">
            <h2>Iniciar sesión</h2>
            <form action="#" method="get">
                <div>
                    <input type="text" name="registered-user" placeholder="Nombre de usuario" class="form-element">
                </div>
                <div>
                    <input type="password" name="registered-password" placeholder="Contraseña" class="form-element">
                </div>
                <button class="bLogin" type="submit">Enviar</button>
            </form> 
            <a href="#">¿Olvidaste tu contraseña?</a>
            <a href="/register">Crear tu cuenta Valpez</a>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>