<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_register.css" rel="stylesheet">
    <title>.:Registro:.</title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="form-register">
            <form class="formularios" action="/users/register" method="POST" enctype="multipart/form-data">
                <h2>Crear una cuenta</h2>
                <div>
                    <input type="text" name="name" placeholder="Nombre y apellidos" class="formulario-registro">
                </div>
                <div>
                    <input type="text" name="user" placeholder="Nombre de usuario" class="formulario-registro">
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" class="formulario-registro">
                </div>
                <div>
                    <label class="titulos-formulario">Fecha de Nacimiento</label>
                    <input type="date" name="dob" class="formulario-registro">
                </div>
                <div>
                    <input type="text" name="address" placeholder="Dirección" class="formulario-registro">
                </div>
                <div>
                    <label class="titulos-formulario">Foto de usuario</label>
                    <input type="file" name="photo" class="formulario-registro">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Contraseña" class="formulario-registro">
                </div>
                <div>
                    <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="formulario-registro">
                </div>
                <div class="terminos-condiciones">
                    <input type="checkbox" name="terminos">
                    <p>Al continuar, aceptas las <a href="#">condiciones de uso</a> y la <a href="#">política de privacidad.</a></p>
                </div>
                    <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>