<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_home.css" rel="stylesheet">
    <title>.:Home:.</title>
</head>

<body>
    <!-- Seccion de la cabecera-->
    <%- include('../partials/header') %>

    <!-- Seccion del cuerpo-->
    <main>
        <div class="carrusel">
            <div class="slide1"><img src="/img/Slide1.jpg" alt="señuelos"></div>
            <div class="slide2"><img src="/img/Slide2.jpg" alt="pescando"></div>
            <div class="slide3"><img src="/img/Slide3.jpg" alt="carpas"></div>
        </div>
        <div class="categories">
            <div class="subCategories">
                <img src="/img/Category-camping.jpg" alt="camping">
                <a class="cam" href="/products/camping">CAMPING</a>
            </div>
            <div class="subCategories">
                <img src="/img/Category-fishing.jpg" alt="fishing">
                <a class="pes" href="/products/pesca">PESCA</a>
            </div> 
        </div>

        <!-- productos nuevos -->
        <div class="related">
            <h2>Nuevos Productos</h2>

            <%- include('../partials/productBox') %>
        </div>

        <div class="consejo">
            <h2>Nuestro Blog</h2>
            <img src="/img/tackle-box.jpg" alt="box">
            <div>
                <p>Conoce trucos, técnicas y consejos</p>
                <button><a href="https://pescandoconvalpez.blogspot.com/">Aprende mas</a></button> 
            </div>
        </div>
        
    </main>

    <!-- Seccion del pie de pagina-->
    <%- include('../partials/footer') %>
</body>

</html>